@import '~antd/dist/antd.css';


  .ant-carousel .slick-slide {

    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
    width: 118px;
  }

  .ant-carousel .slick-slide h3 {
    color: #fff;
  }



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
